.row.col-centered
 .col-md-10
  %h1
   = @app.name
  %h3
   = link_to @app.url, @app.url, :target => '_blank'
   %h4
    = link_to "Edit", edit_registered_application_path(@app), class: 'btn btn-info' 
    = link_to "Delete", registered_application_path(@app), class: 'btn btn-warning', method: :delete, data: { comfirm: 'Area you sure you would like to delte #{@app.url}'}
   = javascript_include_tag "//www.google.com/jsapi", "chartkick" 
   %i
    %b
     %p
      = pie_chart @app.jobs.group(:name).count
   %i
    %b
     %p
      = line_chart @app.jobs.group_by_day(:created_at, day_start: 2).count
      

      There are 
      = pluralize(@job_count, "job")
      as below.
  = render partial: "jobs/jobs", collection: @app.jobs, as: :job
  %i
   = link_to "Back", :back

   

   %script
    var Chartkick = {"language": "de"};